div[class *= baseLayer] > div[class |= container] > nav[class *= guilds] + div[class *= base] {
    border-radius: 8px 0 0 0
}
nav[class ^= wrapper] div[class *= scroller]:not([class *= scrollerWrap]) {
    padding-top: 4px
}
/* hide "Download Apps" item */
div[class|=scroller][dir="ltr"] > div[class|=listItem]:nth-last-of-type(2),
div[class|=scroller][dir="ltr"] > div[class|=listItem]:nth-last-of-type(3) {
	display: none;
}