/* hide "Download Apps" item */
.listItem__650eb:has([data-list-item-id="guildsnav___app-download-button"]) {
    display: none;
}
/* wco styles */
html[wco_integration] .title_c38106 {
    app-region: drag;
    -webkit-app-region: drag;
}
