body {
  font-family: sans-serif;
  background: #202225;
}
/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}
.title {
  font-size: 3rem;
}
.subtitle {
  font-size: 1.5rem;
}
#frame {
  background: #202225;
  display: none;
}
#main {
  z-index: 2;
  color: #5865f2;
}
#main .button {
  background-color: #5865f2;
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  color: white;
  margin: 20px;
  text-decoration: none;
}
#main .button:hover {
  background-color: #8ea1e1;
  cursor: pointer;
}
#main h2,
#main h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 35% auto;
  padding: 20px;
  border: 1px solid #888;
  width: calc(100% - 42px);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Display iframe only when opened as PWA */
@media all and (display-mode: standalone),
  (display-mode: fullscreen),
  (display-mode: window-controls-overlay) {
  #main {
    display: none;
  }
  #frame {
    display: block;
  }
  .fullscreen {
    background: #202225;
  }
  .modal.show {
    display: block;
  }
}
