:root {
  /*--titlebar-height: env(titlebar-area-height, 0);*/
  --titlebar-height: 0;
  --left-sidebar-width: 0;
}
body {
  font-family: sans-serif;
  background: #202225;
}
/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}
.title {
  font-size: 3rem;
}
.subtitle {
  font-size: 1.5rem;
}
#frame {
  background: #202225;
  display: none;
}
#main {
  z-index: 2;
  color: #5865f2;
}
#main .button {
  background-color: #5865f2;
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  color: white;
  margin: 20px;
  text-decoration: none;
}
#main .button:hover {
  background-color: #8ea1e1;
  cursor: pointer;
}
#main h2,
#main h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 35% auto;
  padding: 20px;
  border: 1px solid #888;
  width: calc(100% - 42px);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Display iframe only when opened as PWA */
@media all and (display-mode: standalone),
  (display-mode: fullscreen),
  (display-mode: window-controls-overlay),
  (display-mode: borderless) {
  #main {
    display: none;
  }
  #frame {
    display: block;
  }
  .fullscreen {
    background: #202225;
  }
  .modal.show {
    display: block;
  }
}

/* wco drag region */
html[wco_integration] body:before {
  content: "";
  width: var(--left-sidebar-width);
  height: env(titlebar-area-height, 0);
  background: #0000;
  z-index: 1;
  position: fixed;
  -webkit-app-region: drag;
  app-region: drag;
}

/* title bar styles - unused currently, will be used once borderless mode is supported. */
#frame:not(.cros):not(.android) {
  top: var(--titlebar-height);
  height: calc(100vh - var(--titlebar-height));
  position: relative;
  user-select: none;
}
.titleBar {
  display: inherit;
  width: 100%;
  height: var(--titlebar-height);
  position: absolute;
  background: #00000000;

  flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: flex;

  padding-top: 4px;
  opacity: 1;

  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

#backdrop {
  width: 100%;
  height: var(--titlebar-height);
  position: absolute;
  background: #000000;
  z-index: -1;
  opacity: 0;
  -webkit-app-region: drag;
}

#barbackground {
  width: 100%;
  height: var(--titlebar-height);
  position: absolute;
  background: #202225; /* should set this to same color as theme (user set) */
  z-index: -2;
}

.wordmark {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 4px 9px 3px 9px;
  top: 50%;
  transform: translateY(-50%);
}

.buttonClose,
.buttonMin,
.buttonMax {
  display: flex;

  position: relative;
  top: -4px;
  width: 28px;
  height: var(
    --titlebar-height
  ); /* these buttons will look awful, but WCO covers them */
  cursor: pointer;
  opacity: 0.6;
  -webkit-app-region: no-drag;
  -webkit-box-direction: reverse;
  -webkit-box-align: center;

  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;

  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;

  line-height: 16px;
  pointer-events: auto;
  user-select: none;
}
.buttonClose:hover {
  background-color: #f04747;
  opacity: 1;
}
.buttonMin:hover,
.buttonMax:hover {
  background-color: rgba(79, 84, 92, 0.16);
  opacity: 1;
}

.titleBar,
#backdrop,
#barbackground {
  display: none !important;
}
/* end title bar styles */
