div[class *= baseLayer] > div[class |= container] > nav[class *= guilds] + div[class *= base] {
    border-radius: 8px 0 0 8px
}
nav[class ^= wrapper] div[class *= scroller]:not([class *= scrollerWrap]) {
    padding-top: 4px
}
/* hide "Download Apps" item */
div[class|=scroller] > div[class|=listItem]:nth-last-child(2),
div[class|=scroller] > div[class|=listItem]:last-child {
	display:none
}